li, .list-group-item {
  background-color: transparent !important;
  border-width: 0px;
}

.img-responsive {
  max-height: 400px;
  float: none;
  margin: 0 auto;
}

#radiusSlider .slider-handle {
  background: #e65c00;
}

#radiusSlider .slider-selection {
  background: #F88017;
}

.btn-default {
  background-color: #222 !important;
  border-color: white !important;
  font-size: 20px !important;
  color: white !important;
}

.panel {
  background-color: rgba(255, 255, 255, 0.6) !important;
  font-family: 'Poiret One', cursive;
  color: black;
  font-size: 14px;
}

#refine-panel {
  background-color: transparent !important;
  border-width: 0 !important;
}

#refine-block {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-width: 0 !important;
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #F88017;
  text-decoration: underline;
}

#event-name {
  font-size: 26px;
}

.description {
  font-family: 'Raleway', sans-serif; 
  font-size: 16px;
  line-height: 1.4;
}

#event-popularity {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #F88017;
  font-size: 26px;
}

#venue-name {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: black;
  font-size: 20px;
}

p {
  text-align: left;
}

.bootstrap-iso, .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
  font-family: 'Poiret One', cursive;
  color: white;
  font-size: 20px;
}

#description {
  word-wrap: break-word;
}

.form-control::-webkit-input-placeholder { font-family: 'Poiret One', font-size: 16px; cursive; color: gray; text-align: left; }
.form-control:-moz-placeholder { font-family: 'Poiret One', cursive; font-size: 16px; color: gray; text-align: left; }
.form-control::-moz-placeholder { font-family: 'Poiret One', cursive; font-size: 16px; color: gray; text-align: left; }
.form-control:-ms-input-placeholder { font-family: 'Poiret One', cursive; font-size: 16px; color: gray; text-align: left; }
