html, body {
  width: 100%;
  height: 100%;
}

#map-supercontainer {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  padding-top: 55px;
  /*margin-top: -52px;*/
}

#map-container {
  width: 100%;
  height: 100%;
}

.leaflet-container img {
    width:100%;
}

.floating-menu {
  position: absolute;
  bottom:25px;
  right:25px;
  width: auto;
}

div.cartodb-legend {
  width: 100%;
  bottom: 130px;
  right: 0px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px !important;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px !important;
}

#display-options {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.search-icon {
  padding-top: 4px;
  left: -1px;
}

.remove-circle-icon {

}

/*#slider-container {
  /*position: fixed;
  left:100px;
  top: 100px;
}

.slider {
  width: 300px;
}*/

/*.cartodb-popup-content-wrapper {
  width: 100% !important;
  max-width: 100% !important;
}*/
