body{
	background-color: black;
}

#user-info{
	position: fixed;
	height: 33.3%;
	width: 33.3%;
	top: 20%;
	margin-top: 20%;
	left: 33.3%;
	padding: 0;
	margin: 0;
}

input[type=text], input[type=password] {
	/*position: absolute;*/
	width: 98%;
	padding: 12px 0;
	margin: 8px 0;
}

#create-btn {
	/*background-color: white;*/
	font-color: white;
}

