    * {
      border-radius: 0 !important;
    }
    .form-control:focus {
      border-color: #FF0000;
      box-shadow: inset 0 1px 1px #FBB917, 0 0 8px #E8A317;
    }

    .form-control::-webkit-input-placeholder { font-family: 'Poiret One', cursive; font-size: 20px; color: gray; text-align: left; }
    .form-control:-moz-placeholder { font-family: 'Poiret One', cursive; font-size: 20px; color: gray; text-align: left; }
    .form-control::-moz-placeholder { font-family: 'Poiret One', cursive; font-size: 20px; color: gray; text-align: left; }
    .form-control:-ms-input-placeholder { font-family: 'Poiret One', cursive; font-size: 20px; color: gray; text-align: left; }

    .form-control-time::-webkit-input-placeholder { font-family: 'Poiret One', cursive; font-size: 10px; color: gray; text-align: left; }
    .form-control-time:-moz-placeholder { font-family: 'Poiret One', cursive; font-size: 10px; color: gray; text-align: left; }
    .form-control-time::-moz-placeholder { font-family: 'Poiret One', cursive; font-size: 10px; color: gray; text-align: left; }
    .form-control-time:-ms-input-placeholder { font-family: 'Poiret One', cursive; font-size: 10px; color: gray; text-align: left; }

    .navbar-brand {
      font-family: 'Poiret One', cursive;
      font-size: 36px;
      margin-bottom: 4px;
      margin-top: -4px;
    }
    .navbar-collapse {
      font-family: 'Poiret One', cursive;
      font-size: 20px;
    }
    .navbar {
      z-index:100;
      margin-bottom: 0px !important;
    }

    .noshow {
      display: none;
    }
